body{
  /*   width: 100vw; */
    height: auto;
    min-width: 300px;
}
header{
    width: 100%;
    height: 13rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 4fr;

}
/*HEADER*/

/*Icon bar*/
/*the icon styles are in font folder*/
.icon-container{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: var(--background-blog);
}
/*Navigation bar*/
.nav-bar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-container .logo img{
    width: 20rem;
    object-fit: cover;
    
}
.nav-bar-container .profile{
    margin-right:2.5rem;   
}
.nav-bar-container .profile a{
    font-size: var(--Mmm);
    font-weight: 500;
    color: var(--black-steam);
    text-decoration:underline;
}
a{
    text-decoration: none;
}
/*MAIN*/

/*Firts section - picture*/
.blog-picture{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    
    margin: 0 auto;
}
.blog-picture__img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}
/*Second section - News*/
.blog-section{
    margin: 1.5rem 0;
}
.blog__container{
    display: grid;
    width: 80%;
    margin: 0 auto;
}
.blog__news-title-container{
    padding: 1.2rem 0;
    border-bottom: 1.4px solid var(--grey-lines);

}
.blog__news-title{
    font-size: var(--Msm);
    font-weight: 400;
}
/*Article*/
.blog__article{
    margin-top: 2rem;
}
.blog__article-title{
    font-size: var(--Mmm);
    font-weight: 700;
}
.blog__article-text{
    margin-top: 2rem;
    font-size: var(--Msm);
    font-weight: 300;
    line-height: 1.8rem;
}
/*Third section*/
.contact-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    margin-top: 3rem;
    padding: 3rem;
    background-color: var(--soft-grey);
}
.contact-section__side-container{
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 0 1rem;
    margin: 2rem 0;
    gap:2rem; 
}
.contact-section__img{
   
    width: 100px;
    height: 100px;
}
.contact-section__text{
   
}



