.news-container{
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
    
}
.news-container__intro figure{
    width: 500px;
    height: 300px;
   
}
.article-container{
    padding-top: 3rem; 
}