body{
    width: 100vw;
    min-width: 300px;
}
header{
    width: 100%;
    height: 22%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;
    /* grid-auto-flow: row; */

}
/*HEADER*/

/*Icon bar*/
/*the icon styles are in font folder*/
.icon-container{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: var(--background-blog);
}
/*Navigation bar*/
.nav-bar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-container .logo{
    height: auto;
}
.nav-bar-container .logo img{
    width: 20rem;
    object-fit: cover;
    
}
.nav-bar-container .profile{
    margin-right:2.5rem;   
}
.nav-bar-container .profile a{
    font-size: var(--Mmm);
    font-weight: 500;
    color: var(--black-steam);
    text-decoration:underline;
}
a{
    text-decoration: none;
}
/*MAIN*/

/*firts section - principals news*/
.main-news{
    display: grid;
    grid-template-columns: 100%;
    background-color: var(--soft-grey);
    padding: 3rem 0;
}
.news-container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    width: 80%;
    margin: 0 auto;  
}
/* .news-container .news-container__intro{
    display: flex;
    flex-direction: column;
} */
.news-container .news-container__intro-title{
    font-size: var(--mm);
    font-weight: 700;
    margin-bottom: 0.8rem;
    color: var(--black-steamç);
}
/* .news-container figure{
    width: 100%;
    height: 100%;
} */
.news-container__picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Article*/
.news-container__article-container{
    display: flex;
    flex-direction: column;
}
.news-container__article-title{
    font-size: var(--hm);
    font-weight: 700;
    margin-bottom: 1.6rem;
    color: var(--black-steam);
}
.news-container__article-text{
    font-size: var(--Msm);
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.8rem;
}
.news-container__article-button{
    align-self: flex-start;
    padding: 1rem 1.5rem;
    font-size: var(--sm);
    font-weight: 700;
    font-family: var(--Robot-serif);
    background-color: var(--background-blog);
    color: var(--black-steam);
}
/*Second section - blogs section*/

.main-blogs{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
}
/*Title*/
.main-blogs__title{
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    border-bottom: 1.5px solid var(--grey-lines);
    text-align: center;
}
.main-blogs__title p{
    font-size: var(--Msm);
    font-weight: 600;
}
/*Blogs*/

.main-blogs__grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    gap: 1.5rem;
    place-content: center;
}

.item-article{
    /* display: flex;
    flex-direction: column;
    height: 500px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
  
}
.item-img{
    width: 100%;
    height: 150px;
}
.item-img--post1{
    background: url('../assets/img/post-1.png') no-repeat center/cover;
   
}
.item-img--post2{
    background: url('../assets/img/post-2.png') no-repeat center/cover;
   
}
.item-img--post3{
    background: url('../assets/img/post-3.png') no-repeat center/cover;
   
}
/*Blog articles*/

.item-article h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.item-article p{
    margin-bottom: 2rem;
    font-size: var(--mm);
    font-weight: 300;

}

.item-button{
    align-self: end;
    justify-self: start;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    border: 1px solid white;
    font-size: var(--sm);
    font-weight: 700;
    font-family: var(--Robot-serif);
    background-color: var(--background-blog);
    color: var(--black-steam);
}
.item-button--active:hover{
    border: 1px solid #268d73;
}

/*FOOTER*/
footer{
    position: relative;
    top:0;
    width: 100%;
    height: 6rem;
    border-top: 2rem solid var(--background-blog);
    background-color: var(--blog-footer);
    text-align: center;
   
    
}
footer p{
    margin-top: 2rem;
    font-size: var(--Msm);
    font-weight: 500;
    color:white;
}
