:root{
    --alternative-background-blog:#FAC213;
    --background-blog:#48cfad;
    --black-steam:#252121;
    
    --DM-sans-serif:'DM Sans', sans-serif;

    --sm:1.2rem:
    --mm:1.4rem;
    --Mmm:1.8rem;
    --hm:2.4rem;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

