:root{
    --alternative-background-blog:#FAC213;
    --background-blog:#48cfad;
    --blog-footer:#22272d;
    --soft-grey:#e6e9ed;
    --grey-lines:#f1f3f5;
    --black-steam:#252121;
    
    --Robot-serif:'Roboto Mono', monospace;

    --sm:1.2rem;
    --Msm:1.4rem;
    --mm:1.6rem;
    --Mmm:1.8rem;
    --hm:2.4rem;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{
    font-size: 62.5%;
    font-family:var(--Robot-serif);
}
a{
    text-decoration: none;
}

